/* ---------------------- DEFINICION DE VARIABLES ---------------------- */
:root {
    /* Colores */
    --color-primario: #212121;
    --color-primario-pastel: #AED6F1;
    --color-secundario:  #F4F6F6;
    --color-neutro: #212121;
    /* --color-de-fondo: #e2eaff; */
    --color-de-fondo: #f2f2f2; 
    /* Tamaños */
    --header-height: 72px;

    /* Texto */
    --font-family: "Outfit", sans-serif;
    --font-size: 1.3vh; /* 1em; */
    --color: black;

    --margin: 10%
}

/* TEMPORAL PARA ENTENDER LO QUE PASA*/
/* aside, main {
    border: 1px solid #f00;
} */

/* ---------------------- GENERALES? ---------------------- */
body {
    font-family: var(--font-family);
    color: var(--color);
    font-size: var(--font-size);
    box-sizing: border-box;
    text-align: center;
    background: var(--color-de-fondo);

    display: grid;
    grid-template-rows: var(--header-height) auto min-content; /* 1 fila para el encabezado, 1 fila para el cuerpo, 1 fila para el pie de página */
    grid-template-columns: 1fr; /*  2 de margenes y una central */ 
    min-height: 100vh; /* Para garantizar que la pagina ocupe siempre al menos el 100% del viewport height */
    width: 100vw;
}

/* ul {
    padding: 0 !important;
} */

a {
    text-decoration: none;
    color:black;
}

/* ---------------------- HEADER SECTION ---------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background-color: var(--color-primario);

    position: sticky; /* a diferencia de fixed, mantiene la posicion en el dom */
    top: 0;
    z-index: 10; /* para que quede la barra no quede oculta atras del body */

    padding: 0% var(--margin);
}

/* Boton para abrir menu */
.header__open-nav-button {
    font-size: 2rem;
    position: absolute; /* para que no modifique el espacio en el header */
    right: 100px;
    color: #fff;
}

.header .header__checkbox {
    display: none; /* oculto el checkbox puesto que tengo el menu toggle en su lugar */
}

/* ## Logo y nombre de la empresa */
.header__logo-container a {
    display: flex; /* el logo y el nombre de la empresa en linea */
    align-items: center;
    color: #fff;
}

.header__logo {
    object-fit: cover;
    max-width: 100%;
    width: 50px;
    margin: 0px 1rem;
    border-radius: 50%;
}

/* Barra de navegacion */
.header__navbar {
    display: none;
    position: absolute; /* para que no modifique el espacio en el header*/
    height: 100vh;
    width: 60vw; 
    top: var(--header-height);
    z-index: 1;
    background-color: var(--color-primario);
}

.header__checkbox:checked ~ .header__navbar {
    display: flex;  /* Despliego la barra si se hizo click en el menu toggle */
}

.header__nav-list {
    display: flex;  /* Para poder distribuir links en la barra de navegacion */
    flex-direction: column;
    justify-content: start; 
    text-align: left;
    list-style: none;
    padding: 0;
}

.header__nav-item {
    margin: 2rem 3rem;
}

.header__nav-item-img {
    height: 1rem;
    color: #fff;
}

.header__nav-item a {
    color: #fff;
}

.header__nav-item:is(:hover, :focus) {
    text-decoration: underline #fff;
    opacity: 0.7;    
}


/* ---------------------- HEADER QUERIES ---------------------- */
@media only screen and (min-width: 600px) {  /* Esto genera demora en la barra y se nota*/
    .header__open-nav-button {
        display: none; /* Oculto el menu togle en Desktop */
    }
    
    .header__navbar {
        display: block;
        position: static; /* para que si ocupe el espacio en el header*/
        height: var(--header-height);
        align-content: center; /* centra verticalmente el ul en el nav */
    }
    .header__nav-list {
        flex-direction: row;
        justify-content: right;
        margin: 0; /* porque aplico margin en navbar de mobile y queda mal la Desktop... */
    }
    
    .header {
        justify-content: center;  /* como el espacio entre el logo y la barra de nav */
    }
    


}

/* ---------------------- FOOTER SECTION ---------------------- */
footer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-neutro);
    color: white;
    padding: 0% var(--margin);
}

.footer__logo-container, .footer__copyright {
    grid-column: span 2;
}

.footer__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    border-radius: 50%;
    /*    margin: 0 1rem; ojo que mueve todo...*/
    height: 3rem;
}

.footer-navbar-list, .footer-social-media-list {
    padding: 0; /* no se porque el <ul> viene con padding... no se lo puedo sacar desde el body...*/
}

.footer-navbar__item, .footer-social-media__item {
    list-style: none;
}

.footer-social-media-list img {
    height: 1rem;
}

footer a {
    color: white;
}

/* ---------------------- WEB PAGE: INDEX.HTML ---------------------- */
.image-container {
    height: 95vh;
    width: 100%;

    object-fit: cover;
    background: linear-gradient(to right, #313946, transparent), url("../images/AI_2.jpeg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    display: flex;
    flex-direction: column;
}

.image-container-text {
    padding: 0% var(--margin);
    margin: 0;

    color: #fff;
    text-align: left;
    font-size: 2vh;

    width: 30vw;
    height: 100%;

    align-content: center;
}

.image-container-text h2 {
    font-size: 90px;
    margin: 0;
}

.image-container-text button {
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    background-color: rgb(22, 148, 22);
    color: #fff;
    padding: 0.8rem;
}

.image-container-text button:hover {
    opacity: 0.7;
}

/* ---------------------- WEB PAGE: PREDICCIONES.HTML ---------------------- */
/* MAIN SECTION */
.main-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0% var(--margin);
}

/* Primer aside */
.calendar-container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    list-style: none;

    padding: 0;
    margin-bottom: 2rem; 
}

#fechaSeleccionada {
    border: none;
    border-bottom: 2px solid var(--color-primario);
    width: 70%;
}

.filters-leagues__list {
    list-style: none;
    padding-left: 1rem;
    text-align: left;
}

.calendar-container, .leagues-container, .ads-container, .main, .leagues {
    border: 0.1rem solid rgba(34, 34, 38, 0.08);
    border-radius: 2rem;
    box-shadow: rgba(34, 34, 38, 0.08) 0px 1px 8px 2px;

    background-color: #fff;
    margin: 1rem 0.8rem;
    padding: 1rem;
}

/* Main */
.matches_list {
    list-style: none;
    padding: 1% 5%;
    display: grid;
    grid-template-columns: 1fr;  /* date, teams, prob_home, prob_away, pred_result */
    max-width: 100%;
}

.matches_list__item {
    display: grid;
    grid-template-columns: 20% 40% 10% 10% 10% 10%;
    /* grid-template-rows: inherit; */
    border-bottom: 1px solid rgb(52, 52, 52);
    justify-items: center;
    align-items: center;
    padding: 1% 1%;
}

.header_matches_list {
    background-color: rgba(34, 34, 38, 0.08);
}

/* .matches_list__item:hover {
   opacity: 0.7;
   background-color: #212121;
} */


/* Segundo aside */


/* MAIN QUERIES */
@media only screen and (min-width: 600px) {
    .main-wrapper {
        flex-direction: row;
        justify-content: center;
    }
    
    .filters, .leagues {
        width: 20vw;
        /* max-width: 30vw; */
    }

    .main {
        width: 40vw;
        /* max-width: 40vw; */
    }
}

/* ---------------------- WEB PAGE: about.html ("SOBRE NOSOTROS") ---------------------- */
.timeline-container {
    display: flex;
    flex-direction: column;
}

.timeline__event {
    height: 40px;
    border: 1px solid red;
}

/* ---------------------- WEB PAGE: contact.html ("CONTACTO") ---------------------- */
.form-container {
    display: flex; /* imagen e inputs en paralelo*/
    position: relative;

    background-color: #fff;
    border: 1px solid black;
    border-radius: 1rem;

    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 2rem var(--margin);
}

.form-contacto {
    width: 60%;
    text-align: center;
}

.form__input {
    width: 90%;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 3px solid var(--color-primario);
    background-color: transparent;
}

.input--mensaje {
    resize: none;
    min-height: 10rem;
}

.input--boton {
    background-color: var(--color-primario);
    color: #fff;
    padding: 0.3rem;
}

.input--boton:hover {
    opacity: 0.7;
}

.form__input:focus {
    background-color: rgb(209, 209, 209);
    outline: none;
}

.form-contacto-imagen img {
    width: 70%;
}