/* ######################### Formulario mensaje #########################*/
.form-container {
    /* Display & Position */
    display: flex; /* imagen e inputs en paralelo*/
    flex-wrap: wrap;
    /* position: relative; */

    /* Box model */
    margin: var(--vertical-margin) var(--side-margin);

    /* Alineacion */
    align-items: center;
    justify-content: space-evenly;

    /* Bordes */
    background-color: #fff;
    border: 1px solid black;
    border-radius: 1rem;
}

/* Imagen del form */
.form-contacto-imagen img {
    width: 70%;
}

/* Inputs del mensaje */
.form-contacto {
    width: 60%;
    text-align: center;
}

.form__input {
    /* Box model */
    width: 90%;
    margin-bottom: 1rem;

    /* Otros */
    border: none;
    border-bottom: 3px solid var(--color-primario);
    background-color: transparent;
}

.form__input:focus {
    background-color: rgb(209, 209, 209);
    outline: none;
}

.input--mensaje {
    resize: none;
    min-height: 10rem;
}

/* Boton para enviar mensaje */
.input--boton {
    padding: 0.3rem;
    background-color: var(--color-primario);
    color: #fff;
}

.input--boton:hover {
    opacity: 0.7;
}