/* -------------------------------------------- DEFINICION DE VARIABLES -------------------------------------------- */
:root {
    /* Box model */
    --header-height: 7vh;
    --side-margin: 10%; /* Se entiende a lo largo de todos los CSS, no se como */
    --vertical-margin: 3%;

    /* Background Colors */
    --color-primario: #212121;
    --color-primario-pastel: #AED6F1;
    --color-secundario:  #F4F6F6;
    --color-neutro: #212121;
    --color-de-fondo: #f2f2f2; 
    
    /* Font */
    --font-family: "Outfit", sans-serif;
    --font-size: min(14px, 1.3vw);
    --font-size-header: min(1.5vw, 18px);
    --font-size-header-logo: min(4vw, 30px);
    --color: black;
}

/* -------------------------------------------- GENERALES? -------------------------------------------- */
body {
    /* Display */
    display: grid;
    grid-template-rows: var(--header-height) auto auto; /* 1 fila para el encabezado, 1 fila para el cuerpo, 1 fila para el pie de página */
    grid-template-columns: 1fr; /*  2 de margenes y una central */ 

    /* Box model */
    min-height: 100vh; /* Para garantizar que la pagina ocupe siempre al menos el 100% del viewport height */
    width: 100vw;
    box-sizing: border-box;

    /* Font */
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-align: center;
    color: var(--color);

    /* Color */
    background: var(--color-de-fondo);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
}

/* -------------------------------------------- HEADER SECTION -------------------------------------------- */
.header {
    /* Display & Position */
    display: flex;
    position: sticky; /* a diferencia de fixed, mantiene la posicion en el dom */
    top: 0;
    z-index: 10; /* para que quede la barra no quede oculta atras del body */
    
    /* Alineación */
    justify-content: space-between;
    align-items: center;  /* centro verticalmente */

    /* Box model */
    height: var(--header-height);
    padding: 0% var(--side-margin);

    /* Color */
    background-color: var(--color-primario);
}

/* ## Logo y nombre de la empresa */
.header__logo-container a {
    display: flex; /* el logo y el nombre de la empresa en linea */
    align-items: center;
    color: #fff;
    transition: scale 0.3s;
}

.header__logo-image {
    object-fit: cover;
    height: calc(var(--header-height) * 0.8);
    width: auto;
    margin-right: 1vw;
    border-radius: 50%;
}

.header__logo-container a:hover {
    scale: 1.1;
}

.header__logo-title {
    font-size: var(--font-size-header-logo); 
}

/* Barra de navegacion MOBILE*/
.header__nav-list {
    /* Display */
    display: flex;

    /* Alineación */
    justify-content: flex-end; /* Alinea todo al final de la direccion flex, en este caso, al final de la linea, es como un right=0 */
    align-items: center; /* centrar verticalmente */

    /* Box model */
    width: 100%;

    /* Otro */
    list-style: none;
}

.header__nav-list a {
    color: #fff;
    padding: 0 1vw; /* espacio lateral entre items */
}

.header__nav-item:hover {
    opacity: 0.7;
}

.mobile-navbar {
    /* Display & position */
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    /* Alineacion */
    justify-content: start;
    text-align: left; 

    /* Box model */
    height: 100vh;
    width: 0%;
    overflow-x: hidden; /* Las palabras no salen de la caja al hacer la transicion */

    /* Transicion */
    transition: width 0.5s ease; /* Agregamos una transición suave a la propiedad width */

    /* Color */
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.mobile-navbar li {
    /* Box model */
    width: 100%;
    margin-left: var(--side-margin);
    margin-top: 3vh;

    /* font */
    font-size: 3vh;
}

.header__nav-item:is(:hover, :focus) {
    text-decoration: underline #fff;
    opacity: 0.7;    
}

.menu-toggle {
    display: block;
}

.hideOnMobile {
    display: none;
}

/* -------------------------------------------- HEADER QUERIES -------------------------------------------- */
@media only screen and (min-width: 800px) {
    .hideOnDesktop {
        display: none !important; /* tuve que usar important porque sino js la deja abierta */
    }

    .hideOnMobile {
        display: block;
    }
}


/* -------------------------------------------- FOOTER SECTION -------------------------------------------- */
footer {
    /* Display */
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);

    /* Box model */
    padding: 0% var(--side-margin);

    /* Color */
    background-color: var(--color-neutro);
    color: white;
}

.footer__logo-container, .footer__copyright {
    grid-column: span 2;
}

.footer__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    border-radius: 50%;
    width: 3vw;
}

.footer-social-media-list img {
    width: 1vw;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline #fff;
    opacity: 0.7;
}