# Parámetros de Ejecución
ENVIRONMENT=

# Rutas de Archivo
BASE_DIR_LOCAL=

# Ruta al ejecutable de chromedriver (fallback si webdriver-manager falla). Ej: /Users/tu_usuario/Documents/chromedriver
CHROMEDRIVER_PATH=