# Rutas de Archivo
BASE_DIR_LOCAL=
# DATA_DIR=
# MODEL_DIR=
# LOG_DIR=
# CONFIG_DIR=

# Configuraciones de Base de Datos
# DB_HOST=
# DB_PORT=
# DB_USER=
# DB_PASSWORD=
# DB_NAME=

# Configuraciones de API
# API_KEY=
# API_SECRET=
# API_BASE_URL=

# Parámetros de Ejecución
# ENVIRONMENT=
# DEBUG=
_PRINT=
_PRINT_SPECIFIC=

# Configuraciones de Modelos
# MODEL_VERSION=
# TRAINING_BATCH_SIZE=
# LEARNING_RATE=

# Configuraciones de Red
# PROXY=
# TIMEOUT=