# Ignorar directorio de dependencias
env-model/

# Ignorar un archivo específico en un directorio específico
/Users/nachomondino/Documents/GitHub/predictor-apuestas/prueba.py

# Ignorar todos los archivos de una extensión específica
*.xls;xlsx;csv
