# Ignorar directorio de dependencias
apuestasEnv/

# Ignorar un archivo específico en un directorio específico
/Users/nachomondino/Documents/GitHub/predictor-apuestas/apuestasEnv
/Users/nachomondino/Documents/GitHub/predictor-apuestas/prueba.py
/Users/nachomondino/Documents/GitHub/predictor-apuestas/__init__.py

# Ignorar todos los archivos de una extensión específica  # *.xls;xlsx;csv
*.xlsx
*.pyc

# Ignorar carpetas pycache (pycache se utiliza para almacenar archivos de caché compilados (bytecode) que aceleran la carga de módulos en ejecuciones posteriores. )
__pycache__/
data/
data_next_matches/
