# Entornos virtuales
venv/
backEnv/
venv_mnm/
requirements_updated.txt

# Variables entorno
.env

# Script específicos
prueba.py
.idea/
.vscode/
.DS_Store
*.pyc
__pycache__/

# Carpetas
descarte/
desuso/

# Data
*.csv
*.pkl
data_seg/
old/
images/

# Ignorar todo el contenido de la carpeta data
data/*

# Asegurarse de no ignorar la carpeta data
!data/

# Excepciones: incluir estos archivos específicos
!data/df_best_models.xlsx
!data/df_countries.xlsx
!data/df_competencies.xlsx
!data/historial_predicciones.xlsx
!data/predicciones.xlsx
