<!DOCTYPE html>
<html>
<!-- Metadatos y demas -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ready to take your sports analysis to the next level? Look no further than Forebet, your premier AI-driven platform for cutting-edge sports predictions.">
    <meta name="keywords" content="Football predictions, mathematical football predictions, forebet, football, stats, scores, statistics, match previews, livescore, live scores, live predictions">
    <meta name="author" content="Nombre del autor">

    <title> Predicciones | Apuestas deportivas </title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.jpeg' %}" >
    <link rel="stylesheet" type="text/css"  href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://kit.fontawesome.com/f30352a5c7.js" crossorigin="anonymous"></script>
</head>

<!-- Contenido de la pagina -->
<body>

    <!-- Encabezado -->
    <header class="header">

        <!-- Logo y nombre de la empresa -->
        <div class="header__logo-container">
            <a href="{% url 'index' %}">
                <img class="header__logo-image" src="{% static 'images/logo.jpeg' %}" alt="Logo de la compañia" title="Logo de la compañia">
                <h2 class="header__logo-title">GoalProphet</h2>
            </a>
        </div> 

        <!-- Barra de Navegación -->
        <nav class="header__navbar">
            <!-- MOBILE -->
            <ul class="header__nav-list mobile-navbar hideOnDesktop" id="mobile-navbar">
                <li onclick=closeSidebar() class="header__nav-item"><a><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li class="header__nav-item"><a href="{% url 'index' %}" target="_self"> <i class="fa-solid fa-house"></i> Inicio</a></li>
                <li class="header__nav-item"><a href="{% url 'predicciones' %}" target="_self"><i class="fa fa-futbol-o" aria-hidden="true"></i> Predicciones</a></li>
                <li class="header__nav-item"><a href="{% url 'about' %}" target="_self"><i class="fa fa-users" aria-hidden="true"></i> Sobre Nosotros</a></li>
                <li class="header__nav-item"><a href="{% url 'contact' %}" target="_self"><i class="fas fa-envelope"></i> Contacto</a></li>
            </ul>  
            <!-- DESKTOP -->
            <ul class="header__nav-list desktop-navbar" id="desktop-navbar">
                <li class="header__nav-item hideOnMobile"><a href="{% url 'index' %}" target="_self"> <i class="fa-solid fa-house"></i> Inicio</a></li>
                <li class="header__nav-item hideOnMobile"><a href="{% url 'predicciones' %}" target="_self"><i class="fa fa-futbol-o" aria-hidden="true"></i> Predicciones</a></li>
                <li class="header__nav-item hideOnMobile"><a href="{% url 'about' %}" target="_self"><i class="fa fa-users" aria-hidden="true"></i> Sobre Nosotros</a></li>
                <li class="header__nav-item hideOnMobile"><a href="{% url 'contact' %}" target="_self"><i class="fas fa-envelope"></i> Contacto</a></li>
                <li onclick=openSidebar() class="header__nav-item menu-toggle hideOnDesktop"><a><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav> 
    </header>  

    <div class="index-container">
        <div class="image-container">
            <div class="image-container-text">
                <h2> El futuro del fútbol: predicciones con IA </h2>
                <p> Descubre nuestro sistema de predicción de resultados de fútbol. Utilizando un avanzado modelo de machine learning, te ofrecemos pronósticos precisos para cada partido, permitiéndote anticipar quién ganará, perderá o empatará. </p> <!-- <button onclick="window.location.href='predicciones.html'">Ir a predicciones</button>   -->
                <button onclick="window.location.href=&quot;{% url 'predicciones' %}&quot;">Ir a predicciones</button>
            </div>
        </div>
    </div>

    <!-- Pie de pagina -->
    <footer>
        <!-- Logo y nombre de la empresa -->
        <div class="footer__logo-container">
            <a class="footer__logo-link" href="{% url 'index' %}">
                <img class="footer__logo" src="{% static 'images/logo.jpeg' %}" alt="Logo de la compañia" title="Logo de la compañia">
                <h2 class="footer__logo-title">GoalProphet</h2>
            </a>
        </div> 

        <!-- Enlaces a paginas -->
        <div class="footer-navbar">
            <ul class="footer-navbar-list">
                <li class="footer-navbar__item"><a href="{% url 'about' %}">Sobre nosotros</a></li>
                <li class="footer-navbar__item"><a href="{% url 'contact' %}">Contacto</a></li>
                <li class="footer-navbar__item"><a href="#">Política de privacidad</a></li>
                <li class="footer-navbar__item"><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>

        <!-- Social media -->
        <div class="footer__social-media">
            <ul class="footer-social-media-list">
                <li class="footer-social-media__item"><a href="#"><img src="{% static 'images/facebook.png' %}" alt="Logo Facebook"> Facebook</a></li>
                <li class="footer-social-media__item"><a href="#"><img src="{% static 'images/gorjeo.png' %}" alt="Logo Twitter"> Twitter</a></li>
            </ul>
        </div>

        <!-- Copyright -->
        <div class="footer__copyright">
            <p>&copy; 2024 Football Predictions. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Scripts de JavaScript -->
    <script type="text/javascript" src="{% static 'javascript/script.js' %}"></script>
</body>
</html>