<!DOCTYPE html>
<html>
<!-- Metadatos y demas -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ready to take your sports analysis to the next level? Look no further than Forebet, your premier AI-driven platform for cutting-edge sports predictions.">
    <meta name="keywords" content="Football predictions, mathematical football predictions, forebet, football, stats, scores, statistics, match previews, livescore, live scores, live predictions">
    <meta name="author" content="Nombre del autor">

    <title> Predicciones | Apuestas deportivas </title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.jpeg' %}" >
    <link rel="stylesheet" type="text/css"  href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://kit.fontawesome.com/f30352a5c7.js" crossorigin="anonymous"></script>
</head>

<!-- Contenido de la pagina -->
<body>
    <!-- Encabezado -->
    <header class="header">

        <!-- Boton para abrir menú -->
        <input type="checkbox" class="header__checkbox" id="menu-toggle">
        <label for="menu-toggle" class="header__open-nav-button" role="button"><i class="fas fa-bars"></i></label>
        
                
        <!-- Logo y nombre de la empresa -->
        <div class="header__logo-container">
            <a href="index.html">
                <img class="header__logo" src="images/logo.jpeg" alt="Logo de la compañia" title="Logo de la compañia">
                <h2 class="header__logo-title">GoalProphet</h2>
            </a>
        </div> 

        <!-- Barra de Navegación -->
        <nav class="header__navbar">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="index.html" target="_self"> <i class="fa-solid fa-house"></i> Inicio</a></li>
                <li class="header__nav-item"><a href="predicciones.html" target="_self"><i class="fa fa-futbol-o" aria-hidden="true"></i> Predicciones</a></li>
                <li class="header__nav-item"><a href="about.html" target="_self"><i class="fa fa-users" aria-hidden="true"></i> Sobre Nosotros</a></li>
                <li class="header__nav-item"><a href="contact.html" target="_self"><i class="fas fa-envelope"></i> Contacto</a></li>
            </ul>
        </nav>
    </header>  

    <div class="container">
        <div class="image-container">
            <div class="image-container-text">
                <h2> El futuro del fútbol: predicciones con IA </h2>
                <p> Descubre nuestro sistema de predicción de resultados de fútbol. Utilizando un avanzado modelo de machine learning, te ofrecemos pronósticos precisos para cada partido, permitiéndote anticipar quién ganará, perderá o empatará. </p>
                <button onclick="window.location.href='predicciones.html'">Ir a predicciones</button>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla harum rerum eligendi quibusdam culpa exercitationem quis quos vero laudantium, explicabo modi itaque natus numquam ducimus beatae nostrum blanditiis esse perspiciatis.</p>
    </div>

    <!-- Pie de pagina -->
    <footer>
        <!-- Logo y nombre de la empresa -->
        <div class="footer__logo-container">
            <a class="footer__logo-link" href="index.html">
                <img class="footer__logo" src="images/logo.jpeg" alt="Logo de la compañia" title="Logo de la compañia">
                <h2 class="footer__logo-title">GoalProphet</h2>
            </a>
        </div> 

        <!-- Enlaces a paginas -->
        <div class="footer-navbar">
            <ul class="footer-navbar-list">
                <li class="footer-navbar__item"><a href="about.html">Sobre nosotros</a></li>
                <li class="footer-navbar__item"><a href="contact.html">Contacto</a></li>
                <li class="footer-navbar__item"><a href="#">Política de privacidad</a></li>
                <li class="footer-navbar__item"><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>

        <!-- Social media -->
        <div class="footer__social-media">
            <ul class="footer-social-media-list">
                <li class="footer-social-media__item"><a href="#"><img src="images/facebook.png" alt="Facebook"> Facebook</a></li>
                <li class="footer-social-media__item"><a href="#"><img src="images/gorjeo.png" alt="Twitter"> Twitter</a></li>
            </ul>
        </div>

        <!-- Copyright -->
        <div class="footer__copyright">
            <p>&copy; 2024 Football Predictions. Todos los derechos reservados.</p>
        </div>

    </footer>

</body>
</html>